form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#divUpper{
    padding-block: 10px;
    margin-top: 10px;
}

#forMainButton{
    padding-block: 25px;
}

#mainButton{
    height: fit-content;
    width: fit-content;
    vertical-align: bottom;
}

#myTable{
    margin-top: 30px;
}